.block-2-5 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    border-left: 3px solid #938d97;
    background-color: #4c4c54;
}
.block-2-5 > *{
    padding-top: 0.2rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
}
.block-2-5 .block-2 {
    border-bottom: 3px solid #938d97;
}
.block-5 .genres {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr;
}
.block-5 .genres .gen  a {
    color: #cdd2d9;
}
.block-5 .genres .gen  a:hover{
    color: aliceblue;
}