html, body {
    color: aliceblue;
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    background: #141414;
    padding: 0;
    margin: 0;
}
a {
    color: aliceblue;
}
.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.block_1, .block_7 {
    position: relative;
    height: calc(5% - 40px);
}
.block_1:after {
    position: absolute;
    content: "";
    width: calc(70% + 10px);
    height: 100%;
    background: #141414;
    left: calc(15% - 6px);
    border-bottom: 3px dashed aliceblue;
}
.block_1 {
    border-bottom: 3px solid aliceblue;
}
.block_7 {
    border-top: 3px solid aliceblue;
}
.block_2_3_4_5_6 {
    display: flex;
    width: 100%;
    height: calc(90% + 70px);
}

.block_4, .block_2_5 {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: calc(15% - 8px);
}
.block_2_5 {
    border-right: 3px dashed aliceblue;
}
.block_4 {
    border-left: 3px dashed aliceblue;
}
.block_5 {
    width: 100%;
    height: 100%;
}


.block_2 {
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-bottom: 3px solid aliceblue;
}

.block_3_6 {
    display: flex;
    flex-direction: column;
    width: calc(70% + 10px);
    height: 100%;
}

.block_3 {
    display: flex;
    flex-direction: column;
    border-bottom: 3px dashed aliceblue;
    width: 100%;
    height: calc(100% - 20px);
}

.block_6 {
    display: flex;
    height: 25px;
}

