html {
    background-color: #1e0b30;
    font-family: Calibri;
}
.main {
    background-color: #1e0b30;
    height: 100vh;
    width: 100vw;
}
.main .header-footer {
    display: flex;
    background-color: #290e45;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 30px;
    align-items: center;
}
.main .header-footer .menu {
    width: 400px;
}
.main .header-footer .menu ul {
    margin-top: auto;
    margin-bottom: auto;
    list-style: none;
    display: flex;
}

.main .header-footer .menu ul li {
    flex-grow: 1;
    flex-shrink: 1;
}
.main .header-footer .menu ul li a {
    text-decoration: none;
    color: aliceblue;
}
.main .header-footer .menu ul li a:hover {
    color: grey;
}
.main .header-footer .motto {
    color: aliceblue;
    height: 80%;
    margin-right: 50px;
    display: flex;
    width: max-content;
    text-align: center;
    margin-left: auto;
}
.main .header-footer .motto .name {
    margin-top: 2px;
}
.main .header-footer .motto i {
    font-size: 25px;
    margin-bottom: 2px;
}
.main .cols {
    width: 100%;
    height: 80%;
    display: flex;
}
.main .block-2-5 {
    background-color: #210d36;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100%;
}
.main .block-2-5 .block-2 {
    background-color: #2e0854;
    width: 100%;
    height: 15%;
    display: flex;
    color: aliceblue;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}
.main .block-2-5 .block-2 i{
    position: relative;
    bottom: 3px;
    font-size: 20px;
}

.main .block-2-5 .block-5 {
    height: 100%;
    background-color: #430e78;
}
.main .block-2-5 .block-5 .subjects {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    width: 100%;
    height: 100%;
}
.main .block-2-5 .block-5 .subjects a {
    text-decoration: none;
    color: aliceblue;
}
.main .block-2-5 .block-5 .subjects a:hover {
    text-decoration: none;
    color: grey;
}
.main .block-2-5 .block-5 .subjects .subj {
    display: flex;
    gap: 0.5rem;
}
.main .block-2-5 .block-5 .subjects .subj i {
    position: relative;
    bottom: 4px;
    font-size: 20px;
}
.main .block-3-6 {
    width: 80%;
    height: 100%;
}
.main .block-3-6 .block-3 {
    color: aliceblue;
    display: flex;
    flex-direction: column;
    background-color: #160329;
    width: 100%;
    height: 80%;
}
.main .block-3-6 .block-3 .exer {
    margin: 10px;
    width: calc(100% - 20px);
    min-height: 70px;
    background-color: #29034f;
    border-radius: 15px;
}
.main .block-3-6 .block-3 .exer .name {
    margin-left: 15px;
    font-size: 20px;
}
.main .block-3-6 .block-3 .exer .exer-text {
    margin-left: 15px;
}
.main .block-3-6 .block-3 .comments {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 10px;
    width: calc(100% - 20px);
    height: 100%;
    overflow: hidden;
}
.main .block-3-6 .block-3 .comments .cmnt {
    display: flex;
    width: 100%;
    min-height: 60px;
    max-height: 110px;
    background-color: #3c1166;
    border-radius: 15px;
    align-items: center;
}
.main .block-3-6 .block-3 .comments .cmnt .avatar {
    margin-top: 3px;
    margin-left: 10px;
    margin-right: 5px;
}
.main .block-3-6 .block-3 .comments .cmnt .cmnt-text {
    margin: 15px;
}
.main .block-3-6 .block-3 .comments .cmnt img {
    width: 40px;
    border: #160529 solid 5px ;
    border-radius: 10px;
}
.main .block-3-6 .block-6 {
    display: flex;
    color: aliceblue;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    height: 20%;
}

.main .block-7 {
    display: flex;
    background-color: #290e45;
    width: 100%;
    height: 30px;
    z-index: 99;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.main .block-7 .socials {
    margin-top: 0;
    margin-left: auto;
    margin-right: 30px;
    padding: 0;
    gap: 1rem;
    color: aliceblue;
    font-size: 30px;
    display: flex;
    list-style: none;
}
.main .block-7 .socials a:hover{
    color: grey;
}
.main .block-7 .message{
    color: aliceblue;
    margin-top: 5px;
    margin-left: 5px;
}
.main .block-4 {
    background-color: #430e78;
    width: 20%;
    height: 100%;
}
.main .block-4 iframe {
    margin: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
}