html {

}
a {
    text-decoration: none;
}
html, body {
    background-color: #140d1d;
    color: white;
    height: 100%;
}
.main {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}
@media only screen and (max-width: 800px) {
    .main {
        display: grid;
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 1fr auto;
    }
}
